.profile {
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
}

.profile-back {
    height: 130px;
    background-size: cover;
}

.profile-img {
    height: 100px;
    width: 100px;
    border: 4px solid #fff;
    margin-left: 7%;
    position: relative;
    bottom: 35px;
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
}

.profile h1 {
    display: inline;
    position: relative;
    bottom: 65px;
    margin-left: 20px;
    font-size: 28px;
}

.profile-desc {
    position: relative;
    bottom: 75px;
    color: #7c7c7c;
    margin-left: 210px;
}

.profile-view {
    text-align: center;
    position: relative;
    bottom: 80px;
    color: #7c7c7c;
}

.profile-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 95px;
}

@media only screen and (max-width: 850px) {
    .profile-desc {
      margin-left: 177px;
    }
    
  }