.sub-button {
    width: 100%;
    border-radius: 10px;
    text-align: start;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #b0b0b0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.sub-button:hover {
    background-color: #e8e8e8;
    color: #fff;
}

.avi {
    width: 35px;
    height: 35px;
    border: 2px solid #6f6f6f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    background-size: cover;
}

.sub-button p {
    display: inline;
    position: relative;
    bottom: 11px;
    font-weight: bold;
}

.skeleton-button {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.skeleton-name {
    margin-left: 10px;
    position: relative;
    top: 12px;
}
