.sub {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 25px;
    padding-top: 5px;
    border-radius: 25px;
    padding-bottom: 30px;
}

.sub h2 {
    text-align: center;
}