*{
  box-sizing: border-box;
  /* border: 0.1px solid black; */
}

body {
  background: #fcfcfc;
  min-width: 540px;
}

main {
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 5%;
  padding-left: 100px;
  margin-top: 50px;
  padding-bottom: 80px;
  padding-right: 100px;
}

.profile-comp {
  margin-top: 60px;
  /* padding: 0px 15px; */
}