*{
  box-sizing: border-box;
  /* border: 0.1px solid black; */
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fcfcfc;
  min-width: 800px;
}

main {
  display: grid;
  grid-template-columns: 65% minmax(260px, 30%);
  grid-gap: 5%;
  padding-left: 100px;
  margin-top: 50px;
  padding-bottom: 80px;
  padding-right: 100px;
}

.profile-comp {
  margin-top: 60px;
}

@media only screen and (max-width: 850px) {
  main {
    grid-template-columns: 100%;
    padding-bottom:100px;
    grid-gap: 50px
  }
  
}